$desktopMaxScreen: 1679px;
$smallDesktopMaxScreen: 1279px;
$tabletMaxScreen: 959px;
$mobileMaxScreen: 759px;
$smallMobileMaxScreen: 479px;

$startWidth: 0px;
$mobile: 768px;
$tablet: 960px;
$desktopXS: 1280px;
$desktopM: 1680px;
$desktopXL: 1920px;

//new design system

$newBigDesktopMaxScreen: 1919px;
$newMiddleDesktopMaxScreen: 1679px;
$newSmallDesktopMaxScreen: 1439px;
$newBigTabletMaxScreen: 1279px;
$newTabletMaxScreen: 959px;
$newMobileMaxScreen: 767px;
