$numberSelectionIcons: '/Styles/Stream/i/beauty-number';
$promoCheckboxIcon: '/Styles/Promo/i/checkbox';
$progressBarIcons: '/Styles/Stream/i/progress-bar';
$promoSelectIcon: '/Styles/Promo/i/select';
$searchSiteIcons: '/Styles/Stream/i/site-search';
$formElementsIcons: '/Styles/Stream/i/form-elements';
$mnpIcons: '/Styles/Stream/i/mnp';
